<p id="notice"><%= notice %></p>

<h1>削除したタスク</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>ステータス</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task_status(task.status) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'トップに戻る', root_path %>
